html, body {
    padding: 0;
    border: none;
    margin: 0;
    background-color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: inherit;
}

h1, h2, h3, h4, h5, h6, .title {
    display: inline-block;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}

button {
    padding: 10px;
    border: 1px solid #4cae4c;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #FFF;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

button.big.green {
    height: 55px;
    width: 255px;
    font-size: 20px;
    text-transform: uppercase;
}

input {
    padding: 5px 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

div.top.menu {
    height: 67px;
    padding: 0 10px;
    margin: 0 0;
    background-color: #0D47A1;
    color: #FFF;
    text-transform: uppercase;
}

h1.title {
    font-size: 55px;
    vertical-align: top;
}

hr {
    display: block;
    clear: both;
    padding: 0;
    border: none;
    margin: 0;
    height: 16px;
}

hr.vert {
    display: inline-block;
    min-height: 1em;
    height: 100%;
    width: 25px;
    background-color: transparent;
}

h2.menu.choice {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    vertical-align: bottom;
    margin-bottom: 20px;
}

h2.menu.choice.chosen {
    border-bottom: 2px solid #BBDEFB;
}

div.introduction.frontpiece {
    text-align: center;
    padding: 45px 8px;
    margin: 0;
    background-color: #F0F4C3;
}

img.large.mascot {
    max-width: 500px;
}

div.section {
    display: block;
    padding: 65px 8px;
    margin: 0;
    text-align: center;
}

div.section.blue {
    background-color: #BBDEFB;
}

div.section.brown {
    background-color: #F0F4C3;
}

h3.tagline {
    font-size: 70px;
}

h3.subline {
    font-size: 45px;
}

h3.section.title {
    display: block;
    text-align: center;
    font-size: 60px;
    margin-bottom: 45px;
}

img.emoji {
    max-width: 100px;
    margin: 0 10px;
}

div.subsection {
    max-width: 1250px;
    margin: 0 auto;
}

div.body.half-width {
    display: inline-block;
    float: left;
    clear: none;
    padding: 0 20px;
    width: 45%;
    max-width: 45%;
}

div.body.half-width.no-padding {
    padding: 0;
}

@media screen and (max-width: 1000px) {
    div.body.half-width {
        display: block;
        width: 90%;
        max-width: 90%;
    }
    
    .hide-phone {
        display: none;
    }
}

div.body.full-width {
    display: block;
    width: 80%;
    max-width: 100%;
}

div.body {
    max-width: 850px;
    margin: 10px auto;
    font-size: 20px;
    line-height: 30px;
}

.left {
    text-align: left;
}

div.code, code {
    padding: 2px 2px;
    border: 1px solid #999;
    border-radius: 7px;
    font-family: ‘Lucida Console’, Monaco, monospace;
    overflow-x: auto;
}